@page
@model CoreCrud.Pages.Publishers.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<div class="row">
    <div class="col-md-6">
        <h1>Publisher Details</h1>
    </div>
    <div class="col-md-6">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTXnGQ5_pxnBfOdUP6MEQy-NuAVRzH2YVCxPfW2qaRIZxfPk8LscA">
    </div>
</div>
<br />
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Publisher.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Publisher.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Publisher.Country)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Publisher.Country)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Publisher.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
