@page
@model CoreCrud.Pages.Publishers.IndexModel

@{
    ViewData["Title"] = "Index";
}


<div class="row">
    <div class="col-md-6">
        <h1>List of Publishers</h1>
        <p>
            <a asp-page="Create">Add New Publisher</a>
        </p>
    </div>
    <div class="col-md-6">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTXnGQ5_pxnBfOdUP6MEQy-NuAVRzH2YVCxPfW2qaRIZxfPk8LscA">
    </div>
</div>
<br />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Publisher[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Publisher[0].Country)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Publisher)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Country)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
